[submodule "public/youmeos_legacy"]
	path = public/youmeos_legacy
	url = git@github.com:HalloftheGods/youmeos-legacy.git
[submodule ".github"]
	path = .github
	url = git@github.com:HalloftheGods/.github-xophz-compass.git
